---
import "../styles/global.css"; // Adjust path as needed

---

<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

  </head>
  <body class="bg-purple-80 text-gray-800">
    <main>
      <slot />
    </main>
  </body>
</html>
